
.flag-status{
    margin-top: 20px;
    border: 1px solid mediumpurple;
    border-radius: 10px;
    box-shadow: 1px 2px 3px mediumpurple;
    padding: 10px;
}

#info-red-flag{
    color: deeppink;
    padding: 5px;
}


#info-green-flag{
    color: springgreen;
    padding: 5px;
}

#info-yellow-flag{
    color: yellow;
    padding: 5px;
}