@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('input-area.css');
@import url('dashboard.css');
@import url('navbar.css');
@import url('info-flags.css');
@import url('media-queries.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1f1d28;
    color: white;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px;

}

.container-content {
    display: flex;
    justify-content: center;
    padding: 30px;
    position: relative;
    left: 0px;
}

.content-info {
    width: 40%;
    text-align: center;
}

.container h1 {
    font-size: 4.9rem;
}

.container h3 {
    font-size: 22pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: mediumpurple;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(138, 101, 213, 0.905);
}


/* Responsividade !! */
@media screen and (max-width: 600px) {

    .container-content {
        padding: 0px;
    }

    .content-info {
        width: 80%;
    }

    .content {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .dash-info{
        width: 100%;
    }

    .dash-info h1{
        font-size: 3.4rem;
    }

    .dash-info h3{
        font-size: 1.2rem;
        width: 100%;
    }

    #total-info{
        font-size: 3rem;
        width: 100%;
    }

    .input-area-dash{
        flex-wrap: wrap;
        justify-content: center;
    }

    #valor-dash{
        margin-left: 0;
        margin-bottom: 10px;
    }

    #btn-dash{
        width: 100%;
        margin-left: 0;
    }

    .dash-details{
        height: auto;
        width: 100%;
        padding: 10px;
    }
    
    .dash-details li{
        font-size: 1rem;
        width: 100%;
    }

    #total-dash{
        text-align: center;
    }

    .content-info h1 {
        font-size: 3.4rem;
    }

    .content-info h3 {
        font-size: 1.2rem;
    }

    .input-area {
        flex-wrap: wrap;
        justify-content: center;
    }

    #btn-calc-1 {
        margin-left: 0;
        width: 260px;
    }

    #valor {
        width: 200px;
        margin: 10px;
    }

}


@media screen and (max-width: 992px) {


    .content-info {
        width: 80%;
    }

    .input-area {
        flex-wrap: wrap;
        justify-content: center;
    }

    #valor {
        margin-bottom: 10px;
        width: 100%;
    }

    #btn-calc-1 {
        margin-left: 0;
        width: 100%;
    }




}