.month-list{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.month-list ul{
    list-style-type: none;
    text-align: left;
    float: left;
}

.month-list li{
    display: inline-block;
    margin: 20px;
}

.month{
    padding: 20px;
    width: 225px;
    border: 1px solid mediumpurple;
    border-radius: 6px;
    box-shadow: 1px 3px 5px mediumpurple;
}

#month-title{
    width: 200px;
}

#btn-save{
    background-color: mediumpurple;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 20px;
    font-size: 15pt;
    margin: 10px;
    margin-left: 0;

}

button:hover{
    box-shadow: 2px 2px 4px rgba(147, 112, 216, 0.781);
}